{#
  giscus 评论区（GitHub Discussions 驱动）
  单篇文章可通过 front-matter 设置 comments: false 关闭
#}
{%- if post.comments %}
<div class="post-comments-giscus">
  <script src="https://giscus.app/client.js"
    data-repo="SIpeenys/sipeenys.github.io"
    data-repo-id="R_kgDOTzR_vg"
    data-category="General"
    data-category-id="DIC_kwDOTzR_vs4DDAJD"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="transparent_dark"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
{%- endif %}
